.deps
INSTALL
Makefile.in
Makefile
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
config.h
config.h.in
config.h.in~
depcomp
libtool
ltmain.sh
install-sh
missing
musl-obstack.pc
stamp-h1
m4/
